.main-content {
  width: 400px;
  margin-top: 160px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  background-color: white;
  box-shadow: 10px 10px 48px 17px rgba(114, 109, 109, 0.75);
}

#taskListContainer {
  padding: 0;
}

#todo-form {
  width: 100%;
  display: flex;
  flex-direction: row
}

#todo-form > input {
  /* width: 100%; */
  flex-grow: 1;
  border: none;
}

input:focus {
  outline: none;
}

#todo-form > input:focus {
  outline: none;
}

#booklist {
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

li {
  border-bottom: 1px rgb(231, 227, 227) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.completeStatus {
  color: yellow;
}

li > p {
  flex-grow: 1;
  padding-left: 16px;
}

.task-details {
  flex-grow: 1;
  border: none;
  padding-left: 16px;
}
.d-none {
  display: none;
}

/* .taskMenu {
  background-color: red;
  padding: 24px;
} */

/* .taskMenu:hover {
  cursor: pointer;
} */

.strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
}

#delete-all-completed {
  background-color: rgb(204, 192, 192);
  height: 32px;
  display:flex;
  align-items: center;
  
}

#delete-all-completed > span {
  width: 100%;
  text-align:center;
}

#delete-all-completed:hover {
  cursor: pointer;
}

